{
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ]
}
