{
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "overrides": [
    {
      "files": ["*.{js,cjs,mjs}"]
    }
  ],
  "rules": {
    "no-unused-vars": "warn"
  }
}
